@model Grikwa.Models.Product

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buy</h2>

@using (Html.BeginForm("SaleRequestSent", "Store", FormMethod.Get, new {@id = "saleRequestForm" }))
{
    <div>
        <label for="form-field-9">
            Message to @Html.ActionLink(Model.User.TitleID + " " +
                                    Model.User.Intials + " " +
                                    Model.User.Surname, "Profile", "Store", new { @id = Model.User.Id }, null) .
            Regarding product: @Html.ActionLink(Model.Name, "Details", "Store", new { @id = Model.ProductID }, null) .
            <font color="red">
                *
            </font>
        </label>
        <div>
            <textarea cols="400" rows="4" class="form-control limited" id="saleRequestMessage" maxlength="150"></textarea>
        </div>
    </div>

    <p id="requestError" class="red text">

    </p>
    <p>
        By clicking "Send buy request" you agree to the <a href="@Url.Action("Terms","Home")">Terms and Conditions</a>.
    </p>
    <p>
        <button id="sendSaleRequest" class="btn btn-info" type="button" value="submit">
            <i class="icon-ok bigger-110"></i>
            Send buy request
        </button>
    </p>
    <input id="saleProductID" type="hidden" value="@Model.ProductID" />
    <input id="saleProductName" type="hidden" value="@Model.Name">
    <input id="saleProductOwnerID" type="hidden" value="@Model.User.Id">
}


