@model IEnumerable<Grikwa.Models.CompanySlotSetting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlotSetting.SlotSettingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlotSetting.SlotSettingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanySlotSettingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanySlotSettingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanySlotSettingID })
        </td>
    </tr>
}

</table>
