@model Grikwa.Models.Conversation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Conversation</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConversationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
