@model Grikwa.Models.Conversation

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Conversation</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ConversationID)

        <div class="form-group">
            @Html.LabelFor(model => model.FromUserID, "FromUserID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FromUserID", String.Empty)
                @Html.ValidationMessageFor(model => model.FromUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToUserID, "ToUserID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ToUserID", String.Empty)
                @Html.ValidationMessageFor(model => model.ToUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductID, "ProductID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProductID", String.Empty)
                @Html.ValidationMessageFor(model => model.ProductID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time)
                @Html.ValidationMessageFor(model => model.Time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MessageStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MessageStatus)
                @Html.ValidationMessageFor(model => model.MessageStatus)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
