@model Grikwa.Models.Institution

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Institution</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.abbreviation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.abbreviation)
                @Html.ValidationMessageFor(model => model.abbreviation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Extension1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Extension1)
                @Html.ValidationMessageFor(model => model.Extension1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Extension2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Extension2)
                @Html.ValidationMessageFor(model => model.Extension2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Extension3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Extension3)
                @Html.ValidationMessageFor(model => model.Extension3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Extension4, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Extension4)
                @Html.ValidationMessageFor(model => model.Extension4)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Extension5, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Extension5)
                @Html.ValidationMessageFor(model => model.Extension5)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
