@model Grikwa.Models.ConversationRoom

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ConversationRoom</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User2.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User2.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConversationRoomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
