@model Grikwa.Models.EditPosterModel

@{
    ViewBag.Title = "Edit Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Notice</h2>

@using (Html.BeginForm("EditNotice", "NoticeBoard", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "editForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Poster</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PosterID)
        @Html.HiddenFor(model => model.UserID)
        <img align="middle" class="img-thumbnail img-responsive" src="@Url.Action("ProductImage", "Store", new { @id=Model.PosterID, sizeType = 1})" alt="product image">

        <div class="form-group">
            @Html.LabelFor(model => model.ProductImage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="ProductImage" name="ProductImage" type="file" class="form-control width-30" />
                @Html.ValidationMessageFor(model => model.ProductImage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control limited", maxlength = "25" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Categories, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Categories" id="Categories" class="chzn-select form-control" multiple="multiple">
                    @foreach (var option in (ViewBag.Categories as MultiSelectList))
                    {
                        if (option.Selected)
                        {
                            <option value="@option.Value" selected="selected">@option.Text</option>
                        }
                        else
                        {
                            <option value="@option.Value">@option.Text</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Categories)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Email, new { @class = "form-control limited", maxLength = "50" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.PhoneNumber, new { @class = "form-control limited", maxLength = "15" })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 4, 50, new { @class = "form-control limited", maxlength = "300" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KeyWords, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.KeyWords, new { @class = "form-control limited", maxlength = "250" })
                @Html.ValidationMessageFor(model => model.KeyWords)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts{
    
}
