@model IEnumerable<Grikwa.Models.CatalogProductModel>

@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notice Board</h2>
<div>
    @Html.Partial("_SearchPartial")
</div>

<h3 class="col-sm-3">@Html.ActionLink("Post An Ad", "PostAdvert", "NoticeBoard", new { @class = "btn btn-purple btn-post btn-post-ad" })</h3>
<div class="clearfix"></div>
<div class="row">

    <div class="col-sm-3">
        @Html.Partial("_CategoryPartial", (Session["categories"] as IEnumerable<Grikwa.Models.Category>))
    </div>

    <div class="col-sm-9">
        @if (Model == null || Model.Count() == 0)
        {
            <div class="body-content">
                <h1>No products found</h1>
            </div>
        }
        else
        {
            <div class="row body-content">
                @foreach (var item in Model)
                {
                    @Html.Partial("_CatalogProductPartial", item)
                }
            </div>
        }
    </div>
    <div class="row center">
        @Html.Partial("_PaginationPartial")
    </div>
</div>
@section scripts{
    <script src="~/Scripts/ace-elements.min.js"></script>
    <script src="~/Scripts/autoNumeric/autoNumeric-1.9.18.min.js"></script>
    <script type="text/javascript">
        $(".price").each(function (index) {
            var price = Number($(this).html());
            $(this).autoNumeric('init');
            $(this).autoNumeric("set", price);
        });
    </script>
}