@model Grikwa.Models.CatalogProductModel

@functions{
    public string GetImageUrl(string institution, string imageName)
    {

        if (System.Configuration.ConfigurationManager.AppSettings["ImageLocation"] == "blob")
        {
            return Url.Action("AdvertImage", "NoticeBoard", new { isntitution = institution, imageName = imageName });
        }
        else
        {
            return System.Configuration.ConfigurationManager.AppSettings["CdnUrl"] + institution + "/" + imageName;
        }
    }
}

<div class="col-xs-6 col-md-3 pricing-box">
    <div class="widget-box">
        @if (Model.ProductIntention == Grikwa.Models.ProductIntention.SELL)
        {
            <div class="widget-header header-color-purple">
                <span>
                    @Model.Name
                </span>
            </div>
            <div class="widget-body">
                <div class="advert">
                    @{
                        try
                        {
                            <a href="@Url.Action("Details", "NoticeBoard", new { @id = Model.ProductID })">
                                <img align="middle" class="img-thumbnail img-responsive advert-thumbnail" src="@GetImageUrl(Model.Institution, Model.ThumbnailImageName)" alt="product image">
                                <div class="text">
                                    <div class="inner">
                                        <ul class="list-unstyled advert-body center">
                                            <li>
                                                <strong>Posted:</strong> @Model.DatePosted.AddHours(2).ToShortDateString() @Html.Raw("@") @Model.DatePosted.AddHours(2).ToShortTimeString()
                                            </li>
                                            <li>
                                                <span data-a-sign="R " class="price advert-price">
                                                    @Model.Price
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        }
                        catch (Exception e)
                        {
                            <a href="@Url.Action("Details", "NoticeBoard", new { @id = Model.ProductID })">
                                <img align="middle" class="img-thumbnail img-responsive advert-thumbnail" src="~/Images/Products/thumb-0.jpg" alt="text book image">
                                <div class="text">
                                    <div class="inner">
                                        <ul class="list-unstyled advert-body center">
                                            <li>
                                                <strong>Posted:</strong> @Model.DatePosted.AddHours(2).ToShortDateString() @Html.Raw("@") @Model.DatePosted.AddHours(2).ToShortTimeString()
                                            </li>
                                            <li>
                                                <span data-a-sign="R " class="price advert-price">
                                                    @Model.Price
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        }
        else if (Model.ProductIntention == Grikwa.Models.ProductIntention.NOTIFY)
        {
            <div class="widget-header header-color-purple">
                <span>
                    @Model.Name
                </span>
            </div>

            <div class="widget-body">
                <div class="advert">
                    @{
                        try
                        {
                            <a href="@Url.Action("Details", "NoticeBoard", new { @id = Model.ProductID })">
                                <img align="middle" class="img-thumbnail img-responsive advert-thumbnail" src="@GetImageUrl(Model.Institution, Model.ThumbnailImageName)" alt="product image">
                                <div class="text">
                                    <div class="inner">
                                        Click for more info
                                    </div>
                                </div>
                            </a>
                        }
                        catch (Exception e)
                        {
                            <a href="@Url.Action("Details", "NoticeBoard", new { @id = Model.ProductID })">
                                <img align="middle" class="img-thumbnail img-responsive advert-thumbnail" src="~/Images/Products/thumb-0.jpg" alt="text book image">
                                <div class="text">
                                    <div class="inner">
                                        Click for more info
                                    </div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>
