@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/faviconfinak.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title Grikwa NoticeBoard</title>
    @Styles.Render("~/Content/css")

    <link href="~/Content/ace.min.css" rel="stylesheet" />
    <link href="~/Content/ace-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ace-fonts.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-default">
        <div class="navbar-container container">
            <div class="navbar-header pull-left">
                <a href="/Home" class="navbar-brand">
                    <img src="~/Images/Logos/grikwa.png" />
                </a>
            </div>
            <div class="navbar-header pull-right" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" style="height: 1px;">
                    @Html.Partial("_loginpartial")
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="main-container" id="main-container">
        <div class="main-container-inner container" style="min-height:280px;">
            @RenderBody()
        </div>
        <div class="clearfix"></div>
        <footer class="main-container-inner container" id="footer-bottom">
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <p><strong>CUSTOMER SERVICE</strong></p>
                    <p>@Html.ActionLink("Help", "Help", "Home")</p>
                    <p>@Html.ActionLink("FAQ", "FAQ", "Home")</p>
                    <p>@Html.ActionLink("Contact Us", "Contact", "Home")</p>
                </div>
                <div class="col-md-4">
                    <p><strong>TERMS OF USE</strong></p>
                    <p>@Html.ActionLink("Terms and Conditions", "Terms", "Home")</p>
                    <p>@Html.ActionLink("Privacy", "Privacy", "Home")</p>
                    <p>@Html.ActionLink("About Us", "About", "Home")</p>
                </div>
                <div class="col-md-4">
                    <p><strong>FOLLOW US</strong></p>
                    <p><a href="https://twitter.com/welcome/recommendations/search?q=google" target="_blank"><img src="~/Images/twitter.png" width="30" height="30" alt="Twitter" /></a></p>
                    <p><a href="https://www.facebook.com/www.grikwa.co.za?fref=ts" target="_blank"><img src="~/Images/facebook.png" width="30" height="30" alt="Facebook" /></a></p>
                    <p><a href="https://plus.google.com" target="_blank"><img src="~/Images/google.png" width="30" height="30" alt="Googleplus" /></a></p>
                </div>
            </div>
            <hr />
            <p class="text-center">&copy; @DateTime.Now.Year - Grikwa</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/ace.min.js"></script>
    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='~/Scripts/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
