
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Page</h2>

<li>@Html.ActionLink("Managae Institutions", "Index", "InstitutionManager")</li>
<li>@Html.ActionLink("Managae Faculties", "Index", "FacultyManager")</li>
<li>@Html.ActionLink("Managae Qualifications", "Index", "QualificationManager")</li>
<li>@Html.ActionLink("Managae Majors", "Index", "MajorManager")</li>
<li>@Html.ActionLink("Managae Residents", "Index", "ResidentManager")</li>
<li>@Html.ActionLink("Managae Titles", "Index", "TitleManager")</li>
<li>@Html.ActionLink("Managae Categories", "Index", "CategoryManager")</li>
<li>@Html.ActionLink("Managae Products", "Index", "ProductManager")</li>
<li>@Html.ActionLink("Managae Sales", "Index", "SaleManager")</li>
<li>@Html.ActionLink("Managae Conversations", "Index", "ConversationManager")</li>
<li>@Html.ActionLink("Managae Conversation Room", "Index", "ConversationRoomManager")</li>
<li>@Html.ActionLink("Managae Conversation Room Product", "Index", "ConversationRoomProductManager")</li>
<li>@Html.ActionLink("Link Faculties", "Index", "LinkFaculty")</li>
<li>@Html.ActionLink("Link Qualifications", "Index", "LinkQualification")</li>
<li>@Html.ActionLink("Link Majors", "Index", "LinkMajor")</li>
<li>@Html.ActionLink("Link Residents", "Index", "LinkResident")</li>
<li>@Html.ActionLink("Product Categories", "Index", "ProductCategory")</li>

